acl all src all
acl manager proto cache_object
acl localhost src 127.0.0.1/32

acl localnet src 10.0.0.128/26
acl localnet src 10.0.2.64/26
acl localnet src 192.168.0.0/16

acl Safe_ports port 80		# http
acl Safe_ports port 443	# https
acl CONNECT method CONNECT

storeurl_rewrite_program /usr/local/squid/etc/store_url_rewrite

http_access allow manager localhost
http_access deny manager

http_access deny !Safe_ports

http_access deny CONNECT !SSL_ports
http_access allow localnet
http_access deny all

http_port 3128

hierarchy_stoplist cgi-bin ?
cache_mem 64 MB
cache_store_log none
emulate_httpd_log off

cache allow all

refresh_pattern cgi-bin         0       0%      0
refresh_pattern \?              0       0%      0
refresh_pattern .               0       20%     4320

broken_vary_encoding allow apache
